
body {
  margin: 0;
  background-color:  rgb(247, 241, 241);
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  list-style-type: none;
}
